body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    background-color: #a2d2ff;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 2px black;
}

#croc-img {
    width: 500px;
    border-radius: 50%;
    border: solid 7px palevioletred;
}

#bday-date {
    background-color: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;
    
}

#bday-age {
    margin: 18px 0px 10px 0px;
    background-color: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 80px;
}

.gift-title {
    margin-bottom: 0px;
}

.gift-hint {
    margin-top: 12px;
}

.gift-img {
    margin: 0px auto;
    background-image: url("/images/gift-card.png");
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 13px;
    border: solid 5px #ffffff;
}

#gift-img-happy:hover {
    background-image: url("/images/happy.webp");
}

#gift-img-hot:hover {
    background-image: url("/images/hot.webp");
}

#gift-img-genius:hover {
    background-image: url("/images/genius.webp");
}

#gift-img-badass:hover {
    background-image: url("/Trial/Birthday Site/images/badass.webp");

}
